extends inc/layout.pug

block title 
    title inheritance 
block content 
    header 
        h1 inheritance
    section 
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum neque recusandae incidunt quasi voluptatum. Consectetur distinctio laudantium corrupti eligendi fugit placeat impedit quas itaque unde, modi nemo, labore odit nam.x